@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family:'Montserrat',sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 980px;
    margin: 25px auto;
}
.flex{
    display: flex;
}
.header{
    margin:0 15px;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 60px;
}
.text-header{
    font-size: 18px;
    margin: 0px;
    padding: 10px 20px;
}
.text-logo{
    color: #BBB;
    font-size: 35px;
    margin: 0px;
}
.h1-text{
    font-size: 48px;
    font-weight: bolder;
    margin: 0px 190px 30px;
    text-align: center;
}
.text{
    max-width: 460px;
    margin: 0px auto 30px;
    font-size: 18px;
    text-align: center;
}
.cards{
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 10px;
    background-size: cover;
}

.mg0left{
    margin-left: 0;
}
.mg0right{
    margin-right: 0;
}
.text-card{
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}
.card1{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/5a1cf49e99df5b63aa1508c7/fg.jpg);
    background-position: 50% 50%;
}
.card2{
    background-color: #EC6011;
}
.card3{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/5deb6bca9f605f76b70b68e7/wewe.jpg);
    background-position: 50% 50%;
}
.card4{
    background-color: #92C705;
}
.card5{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/20c62cd1e1d15e75ba2b5484/bf5831c7-be61-2575-6483-f38c1ca09a87.jpg?version=);
    background-position: 50% 50%;
}
.card6{
    background-color: #2CCCC4;
}
.footer{
    background-color: #333333;
    padding: 50px 0;
}
.text-footer{
    text-align: center;
    color: white;
    font-size: 18px;
    max-width: 570px;
    margin: 0 auto;
}

/* @media(max-width:820px){
    body{
        width: 820px;
    }
    .container{
        width: 820px;
        margin:  15px auto;
    }
    .h1-text{
        font-size: 24px;
        font-weight: bolder;
        margin: 0px 146px 23px;
    }
    .text{
        margin: 0px 100px 23px;
        font-size: 18px;
        text-align: center;
    }
    .card{
        width: 290px;
        height: 290px;
        margin: 5px;
    }
    .cards{
        margin: 0 auto;
        width: 720px;
        flex-wrap: wrap;
    }
}  */
@media(max-width:440px){
    /* body{
        width: 441px;
    } */
    .container{
        width: 400px;
        margin: 5px auto;
    }
    .h1-text{
        font-size: 18px;
        font-weight: bolder;
        margin: 0px 70px 11px;
    }
    .text{
        margin: 0px 96px 11px;
        font-size: 14px;
        text-align: center;
    }
    .card{
        width: 375px;
        height: 250px;
    }
}